button {
  background: linear-gradient(to bottom right, lightslategray, transparent);
  border: 0;
  border-radius: 1em;
  padding: 0.5em;
  color: white;
  margin-left: 1em;
}

#list {
  width: max-content;
  padding: 1em;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 1em;
  backdrop-filter: blur(0px);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  bottom: 0.3em;
}

#list *:not(summary) {
  transition: font-size 0.3s ease-out;
  font-size: 0;
}

#list[open] *:not(summary) {
  font-size: 1em;
}

.counter {
  font-family: monospace;
  font-size: 2em;
  padding: 0.1em;
  margin: 0.1em;
  color: white;
  border-radius: 0.5em;
  background: rgba(0, 0, 0, 0.5);
}

.price:after {
  content: ' bruhs'
}

.price:before {
  content: 'Costs '
}

#counter:before {
  content: 'Bruh count: '
}

#strength:before {
  content: 'Bruh strength: '
}